.content__background {
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
