.header__phone-number {
    position: relative;
    margin: 0 47px 0 0 ;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #E4E5EA;
    z-index: 3;
}
